<div id="grid"></div>
<header>
    <div id="logo">
        <img src="/img/logo4w.png">
    </div>
    <ul id="topCenterMenu">
        <li><a href="#">Projects</a></li>
        <li><a class="findLink" href="#find">Find</a></li>
    </ul>
    <ul id="topRightMenu">
        <li><a href="#">Settings</a></li>
        <li><a href="#">Logout</a></li>
    </ul>
</header>
<div id="find">
    <div class="col1">
        <div id="upload">
            <a href="#">Upload</a></p>
        </div>
        <div id="mainSum">
            <p>40 Typefaces</p>
            <p>10 Files</p>
            <p>3 Projects</p>
            <p>Plan: free <span class="ogreen">Go Deluxe!</span></p>
        </div>
    </div>
    <div class="col2">
        <input type="text" id="search" placeholder="find typefaces, fonts, files…"></input>
        <div id="order">
            <p>Order by</p>
            <p class="orderSelect">Creation date ▼</p>
        </div>
    </div>
</div>

<div id="content">
    <section>
        <div class="col1">
            <h3>MyTypeface</h3><span class="addto">+</span>
            <div class="itemInfo">
                <ul>
                    <li>MyTypeface Italic</li>
                    <li>MyTypeface Bold</li>
                    <li>MyTypeface Bold Italic</li>
                </ul>
            </div>
            <div class="itemSum">
                <ul>
                    <li>Type: Typeface</li>
                    <li>Authors: John Doe</li>
                    <li>Foundry: TKType</li>
                    <li>Licence: OFL</li>
                </ul>
            </div>
        </div>
        <div class="col2">
            <div class="itemPreview">
                Pierre Bézier was the son and grandson of engineers.
            </div>
        </div>
        <ul class="itemTags">
            <li>Tag</li>
            <li>Tagfoo</li>
            <li>Tagbar</li>
        </ul>
    </section>
    <section>
        <div class="col1">
            <h3>Myfont</h3><span class="addto">+</span>
            <div class="itemInfo">
                Containing
            </div>
        </div>
        <div class="col2">
            <div class="itemPreview">
                Pierre Bézier was the son and grandson of engineers.
            </div>
        </div>
        <ul class="itemTags">
            <li>Tag</li>
            <li>Tagfoo</li>
            <li>Tagbar</li>
        </ul>
    </section>
    <section>
        <div class="col1">
            <h3>Myfont</h3><span class="addto">+</span>
            <div class="itemInfo">
                Containing
            </div>
        </div>
        <div class="col2">
            <div class="itemPreview">
                Pierre Bézier was the son and grandson of engineers.
            </div>
        </div>
        <ul class="itemTags">
            <li>Tag</li>
            <li>Tagfoo</li>
            <li>Tagbar</li>
        </ul>
    </section>
    <section>
        <div class="col1">
            <h3>Myfont</h3><span class="addto">+</span>
            <div class="itemInfo">
                Containing
            </div>
        </div>
        <div class="col2">
            <div class="itemPreview">
                Pierre Bézier was the son and grandson of engineers.
            </div>
        </div>
        <ul class="itemTags">
            <li>Tag</li>
            <li>Tagfoo</li>
            <li>Tagbar</li>
        </ul>
    </section>
    <section>
        <div class="col1">
            <h3>Myfont</h3><span class="addto">+</span>
            <div class="itemInfo">
                Containing
            </div>
        </div>
        <div class="col2">
            <div class="itemPreview">
                Pierre Bézier was the son and grandson of engineers.
            </div>
        </div>
        <ul class="itemTags">
            <li>Tag</li>
            <li>Tagfoo</li>
            <li>Tagbar</li>
        </ul>
    </section>
    <section>
        <div class="col1">
            <h3>Myfont</h3><span class="addto">+</span>
            <div class="itemInfo">
                Containing
            </div>
        </div>
        <div class="col2">
            <div class="itemPreview">
                Pierre Bézier was the son and grandson of engineers.
            </div>
        </div>
        <ul class="itemTags">
            <li>Tag</li>
            <li>Tagfoo</li>
            <li>Tagbar</li>
        </ul>
    </section>
</div>
<footer>

</footer>